<!-- product-list.component.html -->
<div class="container" style="border-radius: 20%; margin-top: 20px;">
    <div class="row">
        <div class="col-md-4" *ngFor="let product of products">
            <div class="card mb-3">
                <img class="card-img-top img-fluid" [src]="product.image" alt="{{ product.name }}" width="50px" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Precio: {{ product.price }}</li>
                </ul>
                <div class="card-body">
                    <button class="btn btn-primary">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </div>
</div>
